---
layout: page
title: "Donator"
description: "Thank you for the support of our friends on this site. "
header-img: "img/adele.jpg"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{  member.img | prepend: site.baseurl }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ member.name }}</h1>
	
	<h2>{{ member.role }}</h2>
	
	{% if member.github %} 
	<span class="social-share-googleplus"><a href="https://xjianbin.github.io/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}
	
	</br>

	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	<hr>
{% endif %}{% endfor %}
       
			<p style="font-size:48px;">您的奉獻是我的不懈動力！</p>
		<img style="width:100%;" src="{{ "/img/2.jpg" | prepend: site.baseurl }}" ></img>
	
		

