<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="nR8IWCpXFB" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Keywords" content="{% if page.title %}{{page.key}}, {{page.tags}}，{% else %}{% endif %} 前端开发，web前端开发，HTML5, CSS, JS, 前端技术分享，前端技术学习">
    <meta name="description" content="{% if page.title %}{{page.title}} | {{page.description}} {% else %}{{ site.description }} - {{ site.titlesssss }} {% endif %}">
	{% include ogmeta.html %}
	
	<!--{% if site.altmetric == true %}

	{% include altmetric.html %}

	{% endif %}-->

	<link rel='shortcut icon' type='image/png' href='{{ site.baseurl }}/favicon.png' />

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.css" | prepend: site.baseurl | prepend: site.url }}">
	
	<!-- Adjust Colors -->
    <link rel="stylesheet" href="{{ "/colorscheme.css" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="{{ "/css/italic.css" | prepend: site.baseurl | prepend: site.url }}" type="text/css" >
    <link rel="stylesheet" href="{{ "/css/font.css" | prepend: site.baseurl | prepend: site.url }}" type="text/css" >
	<link rel="stylesheet" href="{{ "/css/iconfont.css" | prepend: site.baseurl | prepend: site.url }}" type="text/css" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- Math Jax -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	
	<!--进度条-->
	<link rel="stylesheet" href="{{ "/css/pace.css" | prepend: site.baseurl | prepend: site.url }}">
	<script src="{{ "/js/pace.js " | prepend: site.baseurl | prepend: site.url }}"></script>
	<!--不蒜子-->
	 <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!--多說Js
	<script type="text/javascript">
var duoshuoQuery = {short_name:"xjianbin"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
	-->
	
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: { equationNumbers: { autoNumber: "AMS" } }
	});
	</script>

	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js" type="text/javascript"></script>-->

    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl | prepend: site.url }}"></script>
	
	{% include analytics.html %}
	<!--百度自动推送代码-->
	<script>
       (function(){
           var bp = document.createElement('script');
           var curProtocol = window.location.protocol.split(':')[0];
           if (curProtocol === 'https') {
               bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
           }
           else {
               bp.src = 'http://push.zhanzhang.baidu.com/push.js';
           }
           var s = document.getElementsByTagName("script")[0];
           s.parentNode.insertBefore(bp, s);
       })();
   </script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110323446-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110323446-1');
	</script>
</head>
